Flask
Flask-CORS
pdfplumber
docx2txt
requests
pandas
python-dotenv
spacy
nltk
scikit-learn
fuzzywuzzy
python-Levenshtein
langchain
langchain-google-genai
langchain-community
chromadb
faiss-cpu
PyMuPDF
rapidfuzz
google-generativeai
openai
sentence-transformers